.footer-text {
    margin-top: 8px;
    margin-bottom: 0;
    font-family: 'Open Sans',sans-serif;
    color: rgba(51,51,51,.8);
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    text-transform: none;
}